<a href="https://colab.research.google.com/github/sajjadjim/Data-Minning-And-Machine-Learning/blob/main/drhurab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
sample=pd.read_csv('sample_submission.csv')
test=pd.read_csv('test.csv')
train=pd.read_csv('train.csv')

In [ ]:
train

,ID,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,1,21.000000,Female,1.620000,64.000000,no,no,2.000000,3.000000,no,no,2.000000,yes,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
1,2,21.000000,NaN,1.520000,56.000000,Sometimes,no,3.000000,3.000000,yes,yes,3.000000,yes,3.000000,NaN,Sometimes,Public_Transportation,Normal_Weight
2,3,NaN,Male,NaN,77.000000,Frequently,no,2.000000,3.000000,no,no,2.000000,yes,2.000000,NaN,Sometimes,Public_Transportation,Normal_Weight
3,4,27.000000,NaN,NaN,87.000000,Frequently,no,3.000000,3.000000,no,NaN,2.000000,NaN,2.000000,0.000000,NaN,Walking,Overweight_Level_I
4,5,22.000000,Male,1.780000,89.800000,Sometimes,no,2.000000,1.000000,no,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105,1106,NaN,Male,1.823765,96.945262,Sometimes,NaN,1.588782,2.601675,no,no,2.469469,yes,1.736538,1.886855,Sometimes,Public_Transportation,Overweight_Level_II
1106,1107,33.049121,Male,NaN,83.001642,no,yes,2.000000,1.171027,no,no,2.405172,yes,2.300282,0.000000,Sometimes,Automobile,Overweight_Level_II
1107,1108,37.205173,Female,1.667469,80.993373,no,NaN,2.010540,2.776840,no,no,1.651548,yes,0.000000,NaN,NaN,Automobile,Overweight_Level_II
1108,1109,19.027417,Female,1.588147,NaN,Sometimes,no,3.000000,3.362758,no,NaN,2.000000,yes,2.892922,1.000000,Sometimes,Public_Transportation,Overweight_Level_II
1109,1110,37.492444,Male,NaN,NaN,Sometimes,yes,2.000000,1.672706,no,no,2.766674,yes,1.000000,0.027093,NaN,Automobile,Overweight_Level_II

In [ ]:
train.isna().sum()

ID                                  0
Age                               309
Gender                            350
Height                            237
Weight                            357
CALC                               54
FAVC                              501
FCVC                                0
NCP                                 2
SCC                                 0
SMOKE                             333
CH2O                                0
family_history_with_overweight    120
FAF                                13
TUE                               215
CAEC                              320
MTRANS                            186
NObeyesdad                          0
dtype: int64

In [ ]:
test.isna().sum()

ID                                  0
Age                               280
Gender                            339
Height                            220
Weight                            317
CALC                               68
FAVC                                0
FCVC                              142
NCP                                 0
SCC                               333
SMOKE                               0
CH2O                               85
family_history_with_overweight    125
FAF                                10
TUE                               217
CAEC                              285
MTRANS                            176
dtype: int64

In [ ]:
train.dtypes

ID                                  int64
Age                               float64
Gender                             object
Height                            float64
Weight                            float64
CALC                               object
FAVC                               object
FCVC                              float64
NCP                               float64
SCC                                object
SMOKE                              object
CH2O                              float64
family_history_with_overweight     object
FAF                               float64
TUE                               float64
CAEC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

In [ ]:
numerical_cols = train.select_dtypes(include=['float64', 'int64']).columns
train[numerical_cols] = train[numerical_cols].fillna(train[numerical_cols].mean())

In [ ]:
categorical_cols = train.select_dtypes(include=['object']).columns
train[categorical_cols] = train[categorical_cols].fillna(train[categorical_cols].mode().iloc[0])

In [ ]:
train.isna().sum()

ID                                0
Age                               0
Gender                            0
Height                            0
Weight                            0
CALC                              0
FAVC                              0
FCVC                              0
NCP                               0
SCC                               0
SMOKE                             0
CH2O                              0
family_history_with_overweight    0
FAF                               0
TUE                               0
CAEC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
ctg=train.drop(columns=['ID', 'Height', 'Weight', 'NCP', 'CH2O', 'FAF', 'TUE', 'NObeyesdad'])
for col in ctg.columns:
  train[col]=le.fit_transform(train[col])
train.dtypes

ID                                  int64
Age                                 int64
Gender                              int64
Height                            float64
Weight                            float64
CALC                                int64
FAVC                                int64
FCVC                                int64
NCP                               float64
SCC                                 int64
SMOKE                               int64
CH2O                              float64
family_history_with_overweight      int64
FAF                               float64
TUE                               float64
CAEC                                int64
MTRANS                              int64
NObeyesdad                         object
dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
X=train.drop(columns=['NObeyesdad'], axis=1)
y=train['NObeyesdad']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf_classifier = RandomForestClassifier(random_state=42)
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8468468468468469

In [ ]:
rf=RandomForestClassifier(random_state=42)
rf.fit(X_train,y_train)
rf.score(X_test, y_test)

0.8468468468468469

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)
dt.score(X_test, y_test)

0.7792792792792793

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
lr=LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.481981981981982

In [ ]:
numerical_cols1 = test.select_dtypes(include=['float64', 'int64']).columns
test[numerical_cols1] = test[numerical_cols].fillna(test[numerical_cols].mean())

In [ ]:
categorical_cols1 = test.select_dtypes(include=['object']).columns
test[categorical_cols1] = test[categorical_cols1].fillna(test[categorical_cols1].mode().iloc[0])

In [ ]:
test.isna().sum()

ID                                0
Age                               0
Gender                            0
Height                            0
Weight                            0
CALC                              0
FAVC                              0
FCVC                              0
NCP                               0
SCC                               0
SMOKE                             0
CH2O                              0
family_history_with_overweight    0
FAF                               0
TUE                               0
CAEC                              0
MTRANS                            0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()
ctg1=test.drop(columns=['ID', 'Age', 'Height', 'Weight', 'NCP', 'CH2O', 'FAF', 'TUE', 'FCVC', 'NCP'])
for col in ctg1.columns:
  test[col]=le1.fit_transform(test[col])
test.dtypes

ID                                  int64
Age                               float64
Gender                              int64
Height                            float64
Weight                            float64
CALC                                int64
FAVC                                int64
FCVC                              float64
NCP                               float64
SCC                                 int64
SMOKE                               int64
CH2O                              float64
family_history_with_overweight      int64
FAF                               float64
TUE                               float64
CAEC                                int64
MTRANS                              int64
dtype: object

In [ ]:
pred=rf.predict(test)
pred

array(['Overweight_Level_II', 'Overweight_Level_II',
       'Overweight_Level_II', ..., 'Overweight_Level_II',
       'Overweight_Level_II', 'Overweight_Level_II'], dtype=object)

In [ ]:
submission22=pd.DataFrame({'ID':test['ID'], 'NObeyesdad':pred})
submission22.to_csv('submission22.csv', index=False)

In [ ]:
df=pd.read_csv('submission22.csv')

In [ ]:
df

        ID           NObeyesdad
0     1111  Overweight_Level_II
1     1112  Overweight_Level_II
2     1113  Overweight_Level_II
3     1114  Overweight_Level_II
4     1115  Overweight_Level_II
...    ...                  ...
996   2107  Overweight_Level_II
997   2108  Overweight_Level_II
998   2109  Overweight_Level_II
999   2110  Overweight_Level_II
1000  2111  Overweight_Level_II

[1001 rows x 2 columns]