<a href="https://colab.research.google.com/github/sajjadjim/Data-Minning-And-Machine-Learning/blob/main/Final_Machine_learning_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as stat
sample=pd.read_csv("/content/drive/MyDrive/Contest ML/obesity-level-prediction-fall-2024/sample_submission.csv")

test=pd.read_csv("/content/drive/MyDrive/Contest ML/obesity-level-prediction-fall-2024/test.csv")
print(test.head(10))
#show Data set
print(sample.head(10))
train=pd.read_csv("/content/drive/MyDrive/Contest ML/obesity-level-prediction-fall-2024/train.csv")

#show Data set
print(train.head(10))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     ID        Age  Gender    Height     Weight       CALC FAVC      FCVC  \
0  1111        NaN     NaN  1.708800  83.520113  Sometimes  yes  2.689577
1  1112        NaN    Male  1.680991  79.752916        NaN  yes       NaN
2  1113  27.349745    Male  1.835271  97.588260  Sometimes  yes  2.923433
3  1114  18.000000    Male       NaN  86.565148  Sometimes  yes  3.000000
4  1115  33.009285    Male  1.741192  84.773349         no  yes  2.000000
5  1116        NaN    Male       NaN  86.080500  Sometimes  yes  2.882522
6  1117  30.079371    Male       NaN  92.860254  Sometimes  yes  2.000000
7  1118  25.035915    Male  1.763101  88.532032  Sometimes  yes  1.973499
8  1119  18.198322  Female  1.543338  71.799982         no   no  3.000000
9  1120  35.456326  Female       NaN  79.437921        NaN  yes  2.156065

        NCP  SCC SMOKE      CH2O family_history_with_overweight       FAF  \
0  2.714115   no    no  2.279214                            NaN  0.970661
1  2.521546   no    no  1.985312                            yes  0.007050
2  1.338033   no    no  1.944095                            yes  1.931829
3  3.000000  NaN    no  2.000000                            NaN  2.040816
4  3.000000  NaN    no  2.035954                            yes  1.210736
5  3.000000  NaN    no  2.452986                            yes  1.000000
6  3.000000   no    no  1.622638                            yes  0.033745
7  1.081805  NaN    no  2.000000                            yes  0.000000
8  3.087119   no    no  2.000000                            NaN  1.403872
9  2.909117   no    no  1.221281                            yes  0.503279

        TUE       CAEC                 MTRANS
0  0.828549  Sometimes  Public_Transportation
1       NaN        NaN  Public_Transportation
2  1.000000  Sometimes  Public_Transportation
3       NaN  Sometimes  Public_Transportation
4  0.000000  Sometimes             Automobile
5  0.746651  Sometimes                    NaN
6  0.105895  Sometimes  Public_Transportation
7  0.464022  Sometimes                    NaN
8  1.000000  Sometimes  Public_Transportation
9  1.796136        NaN                    NaN
     ID           NObeyesdad
0  1111        Normal_Weight
1  1112        Normal_Weight
2  1113        Normal_Weight
3  1114   Overweight_Level_I
4  1115  Overweight_Level_II
5  1116        Normal_Weight
6  1117        Normal_Weight
7  1118        Normal_Weight
8  1119        Normal_Weight
9  1120        Normal_Weight
   ID   Age  Gender  Height  Weight        CALC FAVC  FCVC  NCP  SCC SMOKE  \
0   1  21.0  Female    1.62    64.0          no   no   2.0  3.0   no    no
1   2  21.0     NaN    1.52    56.0   Sometimes   no   3.0  3.0  yes   yes
2   3   NaN    Male     NaN    77.0  Frequently   no   2.0  3.0   no    no
3   4  27.0     NaN     NaN    87.0  Frequently   no   3.0  3.0   no   NaN
4   5  22.0    Male    1.78    89.8   Sometimes   no   2.0  1.0   no    no
5   6   NaN    Male    1.62    53.0   Sometimes  yes   2.0  3.0   no    no
6   7   NaN     NaN    1.50    55.0   Sometimes  yes   3.0  3.0   no    no
7   8  22.0     NaN    1.64     NaN   Sometimes   no   2.0  3.0   no    no
8   9   NaN     NaN    1.78    64.0         NaN  NaN   3.0  3.0   no    no
9  10  22.0    Male    1.72    68.0          no  NaN   2.0  3.0   no    no

   CH2O family_history_with_overweight  FAF  TUE       CAEC  \
0   2.0                            yes  0.0  1.0  Sometimes
1   3.0                            yes  3.0  NaN  Sometimes
2   2.0                            yes  2.0  NaN  Sometimes
3   2.0                            NaN  2.0  0.0        NaN
4   2.0                             no  0.0  0.0  Sometimes
5   2.0                             no  0.0  NaN  Sometimes
6   2.0                            yes  1.0  0.0  Sometimes
7   2.0                             no  3.0  NaN        NaN
8   2.0                            yes  1.0  NaN        NaN
9   2.0                            yes  1.0  NaN  Sometimes

                  MTRANS           NObeyesdad
0  Public_Transportation        Normal_Weight
1  Public_Transportation        Normal_Weight
2  Public_Transportation        Normal_Weight
3                Walking   Overweight_Level_I
4  Public_Transportation  Overweight_Level_II
5             Automobile        Normal_Weight
6              Motorbike        Normal_Weight
7  Public_Transportation        Normal_Weight
8  Public_Transportation        Normal_Weight
9  Public_Transportation        Normal_Weight

In [ ]:
# prompt: train and test Null value sum

# Check for null values in the training dataset
print("Null values in the training dataset:\n", train.isnull().sum())

# Check for null values in the testing dataset
print("\nNull values in the testing dataset:\n", test.isnull().sum())

Null values in the training dataset:
 ID                                  0
Age                               309
Gender                            350
Height                            237
Weight                            357
CALC                               54
FAVC                              501
FCVC                                0
NCP                                 2
SCC                                 0
SMOKE                             333
CH2O                                0
family_history_with_overweight    120
FAF                                13
TUE                               215
CAEC                              320
MTRANS                            186
NObeyesdad                          0
dtype: int64

Null values in the testing dataset:
 ID                                  0
Age                               280
Gender                            339
Height                            220
Weight                            317
CALC                               68
FAVC                                0
FCVC                              142
NCP                                 0
SCC                               333
SMOKE                               0
CH2O                               85
family_history_with_overweight    125
FAF                                10
TUE                               217
CAEC                              285
MTRANS                            176
dtype: int64

In [ ]:

# Print data types of train and test datasets
print("\nData types of the training dataset:\n", train.dtypes)
print("\nData types of the testing dataset:\n", test.dtypes)

Data types of the training dataset:
 ID                                  int64
Age                               float64
Gender                             object
Height                            float64
Weight                            float64
CALC                               object
FAVC                               object
FCVC                              float64
NCP                               float64
SCC                                object
SMOKE                              object
CH2O                              float64
family_history_with_overweight     object
FAF                               float64
TUE                               float64
CAEC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

Data types of the testing dataset:
 ID                                  int64
Age                               float64
Gender                             object
Height                            float64
Weight                            float64
CALC                               object
FAVC                               object
FCVC                              float64
NCP                               float64
SCC                                object
SMOKE                              object
CH2O                              float64
family_history_with_overweight     object
FAF                               float64
TUE                               float64
CAEC                               object
MTRANS                             object
dtype: object

In [ ]:
# prompt: numerical_cols = train.select_dtypes(include=['float64', 'int64']).columns
# train[numerical_cols] = train[numerical_cols].fillna(train[numerical_cols].mean())  do this code better for fututre accuracy more find

# Identify numerical columns
numerical_cols = train.select_dtypes(include=['float64', 'int64']).columns

# Impute missing values using median for improved robustness
for col in numerical_cols:
    # Handle cases where all values might be NaN in a column
    if train[col].isnull().all():
        # If all values are NaN use 0 imputation, this is problem specific.
        train[col] = 0
    else:
        train[col] = train[col].fillna(train[col].median())

In [ ]:

categorical_cols = train.select_dtypes(include=['object']).columns

for col in categorical_cols:
    train[col] = train.groupby('NObeyesdad')[col].transform(lambda x: x.fillna(x.mode()[0]))

In [ ]:
train.isnull().sum()
#test.isnull().sum()

ID                                0
Age                               0
Gender                            0
Height                            0
Weight                            0
CALC                              0
FAVC                              0
FCVC                              0
NCP                               0
SCC                               0
SMOKE                             0
CH2O                              0
family_history_with_overweight    0
FAF                               0
TUE                               0
CAEC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [ ]:

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

# Initialize LabelEncoder
le = LabelEncoder()

# Identify categorical columns (excluding ID and target variable)
categorical_cols = train.select_dtypes(include=['object']).columns
categorical_cols = [col for col in categorical_cols if col not in ['ID', 'NObeyesdad']]

# Apply Label Encoding to categorical features
for col in categorical_cols:
    train[col] = le.fit_transform(train[col])

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), categorical_cols)], remainder='passthrough')

# Fit and transform the data using the column transformer
train_encoded = ct.fit_transform(train)


train.dtypes

ID                                  int64
Age                               float64
Gender                              int64
Height                            float64
Weight                            float64
CALC                                int64
FAVC                                int64
FCVC                              float64
NCP                               float64
SCC                                 int64
SMOKE                               int64
CH2O                              float64
family_history_with_overweight      int64
FAF                               float64
TUE                               float64
CAEC                                int64
MTRANS                              int64
NObeyesdad                         object
dtype: object

In [ ]:
# prompt: from sklearn.model_selection import train_test_split
# X=train.drop(columns=['NObeyesdad'], axis=1)
# y=train['NObeyesdad']
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)    do this better for my future model accuraccy find out the best

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier  # Example model, you can change this
from sklearn.metrics import accuracy_score


X = train.drop(columns=['NObeyesdad', 'ID'], axis=1)
y = train['NObeyesdad']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# Define the model (RandomForestClassifier as an example, you can use any model)
model = RandomForestClassifier(random_state=42)


param_grid = {
    'n_estimators': [50, 100, 200],  # Number of trees
    'max_depth': [None, 10, 20],      # Maximum depth of each tree
    'min_samples_split': [2, 5, 10],  # Minimum samples required to split a node
    'min_samples_leaf': [1, 2, 4]     # Minimum samples required at each leaf node
}

grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, scoring='accuracy', n_jobs=-1) # Use all available cores
grid_search.fit(X_train, y_train)


best_model = grid_search.best_estimator_
best_params = grid_search.best_params_

print(f"Best Hyperparameters: {best_params}")


# Evaluate the best model on the test set
y_pred = best_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy of the best model on the test set: {accuracy}")


# Further analysis and refinement:

# 1. Try different models (e.g., GradientBoostingClassifier, SVC, XGBoost, etc.)
# 2. Explore a wider range of hyperparameters.
# 3. Consider feature engineering or selection techniques.
# 4. Use cross-validation more extensively (e.g., stratified k-fold).
# 5. Evaluate using a more comprehensive set of metrics (e.g., precision, recall, F1-score).

Best Hyperparameters: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 200}
Accuracy of the best model on the test set: 0.7927927927927928

In [ ]:

from sklearn.model_selection import train_test_split
X=train.drop(columns=['NObeyesdad'], axis=1)
y=train['NObeyesdad']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf_classifier = RandomForestClassifier(random_state=42)
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8558558558558559

In [ ]:
rf=RandomForestClassifier(random_state=42)
rf.fit(X_train,y_train)
rf.score(X_test, y_test)

0.8558558558558559

In [ ]:

numerical_cols1 = test.select_dtypes(include=['float64', 'int64']).columns
test[numerical_cols1] = test[numerical_cols].fillna(test[numerical_cols].mean())

In [ ]:
categorical_cols1 = test.select_dtypes(include=['object']).columns
test[categorical_cols1] = test[categorical_cols1].fillna(test[categorical_cols1].mode().iloc[0])

test.isnull().sum()

ID                                0
Age                               0
Gender                            0
Height                            0
Weight                            0
CALC                              0
FAVC                              0
FCVC                              0
NCP                               0
SCC                               0
SMOKE                             0
CH2O                              0
family_history_with_overweight    0
FAF                               0
TUE                               0
CAEC                              0
MTRANS                            0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()
ctg1=test.drop(columns=['ID', 'Age', 'Height', 'Weight', 'NCP', 'CH2O', 'FAF', 'TUE', 'FCVC', 'NCP'])
for col in ctg1.columns:
  test[col]=le1.fit_transform(test[col])
test.dtypes

ID                                  int64
Age                               float64
Gender                              int64
Height                            float64
Weight                            float64
CALC                                int64
FAVC                                int64
FCVC                              float64
NCP                               float64
SCC                                 int64
SMOKE                               int64
CH2O                              float64
family_history_with_overweight      int64
FAF                               float64
TUE                               float64
CAEC                                int64
MTRANS                              int64
dtype: object

In [ ]:

# Now you can use test_encoded_df for prediction:
pred = rf.predict(test)
pred

array(['Overweight_Level_II', 'Overweight_Level_II',
       'Overweight_Level_II', ..., 'Overweight_Level_II',
       'Overweight_Level_II', 'Overweight_Level_II'], dtype=object)

In [ ]:
submission22=pd.DataFrame({'ID':test['ID'], 'NObeyesdad':pred})
submission22.to_csv('submission223.csv', index=False)
df=pd.read_csv('submission223.csv')