In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

df=pd.read_csv("/content/drive/MyDrive/Dataset Data Mining /Dataset/train.csv")

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
(df.isnull().sum()/len(df))*100

PassengerId       0.000000
Survived          0.000000
Pclass            0.000000
Name              0.000000
Sex               0.000000
Age              19.865320
SibSp             0.000000
Parch             0.000000
Ticket            0.000000
Fare              0.000000
Cabin            77.104377
Embarked          0.224467
sepal_length    100.000000
sepal_width     100.000000
dtype: float64

In [9]:
age_missing_index  = df[df['Age'].isnull()].index.tolist()

In [10]:
train_1= df.copy()
train_1["Age"].fillna(30,inplace=True)
train_1.isnull().sum()

<ipython-input-10-abec800e4468>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_1["Age"].fillna(30,inplace=True)

PassengerId       0
Survived          0
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin           687
Embarked          2
sepal_length    891
sepal_width     891
dtype: int64

In [11]:
train_1.iloc[age_missing_index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sepal_length,sepal_width
5,6,0,3,"Moran, Mr. James",male,30.0,0,0,330877,8.4583,NaN,Q,NaN,NaN
17,18,1,2,"Williams, Mr. Charles Eugene",male,30.0,0,0,244373,13.0000,NaN,S,NaN,NaN
19,20,1,3,"Masselmani, Mrs. Fatima",female,30.0,0,0,2649,7.2250,NaN,C,NaN,NaN
26,27,0,3,"Emir, Mr. Farred Chehab",male,30.0,0,0,2631,7.2250,NaN,C,NaN,NaN
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,30.0,0,0,330959,7.8792,NaN,Q,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,30.0,0,0,2629,7.2292,NaN,C,NaN,NaN
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,30.0,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN
868,869,0,3,"van Melkebeke, Mr. Philemon",male,30.0,0,0,345777,9.5000,NaN,S,NaN,NaN
878,879,0,3,"Laleff, Mr. Kristo",male,30.0,0,0,349217,7.8958,NaN,S,NaN,NaN
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,30.0,1,2,W./C. 6607,23.4500,NaN,S,NaN,NaN

In [12]:
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
train_constant = df.copy()

cos_imputer = SimpleImputer (strategy = 'constant', fill_value = '-1')
train_constant.iloc[:,:]=cos_imputer.fit_transform(train_constant)
#
train_constant.isnull().sum()

<ipython-input-12-0b8746535a9b>:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[22.0, 38.0, 26.0, 35.0, 35.0, '-1', 54.0, 2.0, 27.0, 14.0, 4.0, 58.0, 20.0, 39.0, 14.0, 55.0, 2.0, '-1', 31.0, '-1', 35.0, 34.0, 15.0, 28.0, 8.0, 38.0, '-1', 19.0, '-1', '-1', 40.0, '-1', '-1', 66.0, 28.0, 42.0, '-1', 21.0, 18.0, 14.0, 40.0, 27.0, '-1', 3.0, 19.0, '-1', '-1', '-1', '-1', 18.0, 7.0, 21.0, 49.0, 29.0, 65.0, '-1', 21.0, 28.5, 5.0, 11.0, 22.0, 38.0, 45.0, 4.0, '-1', '-1', 29.0, 19.0, 17.0, 26.0, 32.0, 16.0, 21.0, 26.0, 32.0, 25.0, '-1', '-1', 0.83, 30.0, 22.0, 29.0, '-1', 28.0, 17.0, 33.0, 16.0, '-1', 23.0, 24.0, 29.0, 20.0, 46.0, 26.0, 59.0, '-1', 71.0, 23.0, 34.0, 34.0, 28.0, '-1', 21.0, 33.0, 37.0, 28.0, 21.0, '-1', 38.0, '-1', 47.0, 14.5, 22.0, 20.0, 17.0, 21.0, 70.5, 29.0, 24.0, 2.0, 21.0, '-1', 32.5, 32.5, 54.0, 12.0, '-1', 24.0, '-1', 45.0, 33.0, 20.0, 47.0, 29.0, 25.0, 23.0, 19.0, 37.0, 16.0, 24.0, '-1', 22.0, 24.0, 19.0, 18.0, 19.0, 27.0, 9.0, 36.5, 42.0, 51.0, 22.0, 55.5, 40.5, '-1', 51.0, 16.0, 30.0, '-1', '-1', 44.0, 40.0, 26.0, 17.0, 1.0, 9.0, '-1', 45.0, '-1', 28.0, 61.0, 4.0, 1.0, 21.0, 56.0, 18.0, '-1', 50.0, 30.0, 36.0, '-1', '-1', 9.0, 1.0, 4.0, '-1', '-1', 45.0, 40.0, 36.0, 32.0, 19.0, 19.0, 3.0, 44.0, 58.0, '-1', 42.0, '-1', 24.0, 28.0, '-1', 34.0, 45.5, 18.0, 2.0, 32.0, 26.0, 16.0, 40.0, 24.0, 35.0, 22.0, 30.0, '-1', 31.0, 27.0, 42.0, 32.0, 30.0, 16.0, 27.0, 51.0, '-1', 38.0, 22.0, 19.0, 20.5, 18.0, '-1', 35.0, 29.0, 59.0, 5.0, 24.0, '-1', 44.0, 8.0, 19.0, 33.0, '-1', '-1', 29.0, 22.0, 30.0, 44.0, 25.0, 24.0, 37.0, 54.0, '-1', 29.0, 62.0, 30.0, 41.0, 29.0, '-1', 30.0, 35.0, 50.0, '-1', 3.0, 52.0, 40.0, '-1', 36.0, 16.0, 25.0, 58.0, 35.0, '-1', 25.0, 41.0, 37.0, '-1', 63.0, 45.0, '-1', 7.0, 35.0, 65.0, 28.0, 16.0, 19.0, '-1', 33.0, 30.0, 22.0, 42.0, 22.0, 26.0, 19.0, 36.0, 24.0, 24.0, '-1', 23.5, 2.0, '-1', 50.0, '-1', '-1', 19.0, '-1', '-1', 0.92, '-1', 17.0, 30.0, 30.0, 24.0, 18.0, 26.0, 28.0, 43.0, 26.0, 24.0, 54.0, 31.0, 40.0, 22.0, 27.0, 30.0, 22.0, '-1', 36.0, 61.0, 36.0, 31.0, 16.0, '-1', 45.5, 38.0, 16.0, '-1', '-1', 29.0, 41.0, 45.0, 45.0, 2.0, 24.0, 28.0, 25.0, 36.0, 24.0, 40.0, '-1', 3.0, 42.0, 23.0, '-1', 15.0, 25.0, '-1', 28.0, 22.0, 38.0, '-1', '-1', 40.0, 29.0, 45.0, 35.0, '-1', 30.0, 60.0, '-1', '-1', 24.0, 25.0, 18.0, 19.0, 22.0, 3.0, '-1', 22.0, 27.0, 20.0, 19.0, 42.0, 1.0, 32.0, 35.0, '-1', 18.0, 1.0, 36.0, '-1', 17.0, 36.0, 21.0, 28.0, 23.0, 24.0, 22.0, 31.0, 46.0, 23.0, 28.0, 39.0, 26.0, 21.0, 28.0, 20.0, 34.0, 51.0, 3.0, 21.0, '-1', '-1', '-1', 33.0, '-1', 44.0, '-1', 34.0, 18.0, 30.0, 10.0, '-1', 21.0, 29.0, 28.0, 18.0, '-1', 28.0, 19.0, '-1', 32.0, 28.0, '-1', 42.0, 17.0, 50.0, 14.0, 21.0, 24.0, 64.0, 31.0, 45.0, 20.0, 25.0, 28.0, '-1', 4.0, 13.0, 34.0, 5.0, 52.0, 36.0, '-1', 30.0, 49.0, '-1', 29.0, 65.0, '-1', 50.0, '-1', 48.0, 34.0, 47.0, 48.0, '-1', 38.0, '-1', 56.0, '-1', 0.75, '-1', 38.0, 33.0, 23.0, 22.0, '-1', 34.0, 29.0, 22.0, 2.0, 9.0, '-1', 50.0, 63.0, 25.0, '-1', 35.0, 58.0, 30.0, 9.0, '-1', 21.0, 55.0, 71.0, 21.0, '-1', 54.0, '-1', 25.0, 24.0, 17.0, 21.0, '-1', 37.0, 16.0, 18.0, 33.0, '-1', 28.0, 26.0, 29.0, '-1', 36.0, 54.0, 24.0, 47.0, 34.0, '-1', 36.0, 32.0, 30.0, 22.0, '-1', 44.0, '-1', 40.5, 50.0, '-1', 39.0, 23.0, 2.0, '-1', 17.0, '-1', 30.0, 7.0, 45.0, 30.0, '-1', 22.0, 36.0, 9.0, 11.0, 32.0, 50.0, 64.0, 19.0, '-1', 33.0, 8.0, 17.0, 27.0, '-1', 22.0, 22.0, 62.0, 48.0, '-1', 39.0, 36.0, '-1', 40.0, 28.0, '-1', '-1', 24.0, 19.0, 29.0, '-1', 32.0, 62.0, 53.0, 36.0, '-1', 16.0, 19.0, 34.0, 39.0, '-1', 32.0, 25.0, 39.0, 54.0, 36.0, '-1', 18.0, 47.0, 60.0, 22.0, '-1', 35.0, 52.0, 47.0, '-1', 37.0, 36.0, '-1', 49.0, '-1', 49.0, 24.0, '-1', '-1', 44.0, 35.0, 36.0, 30.0, 27.0, 22.0, 40.0, 39.0, '-1', '-1', '-1', 35.0, 24.0, 34.0, 26.0, 4.0, 26.0, 27.0, 42.0, 20.0, 21.0, 21.0, 61.0, 57.0, 21.0, 26.0, '-1', 80.0, 51.0, 32.0, '-1', 9.0, 28.0, 32.0, 31.0, 41.0, '-1', 20.0, 24.0, 2.0, '-1', 0.75, 48.0, 19.0, 56.0, '-1', 23.0, '-1', 18.0, 21.0, '-1', 18.0, 24.0, '-1', 32.0, 23.0, 58.0, 50.0, 40.0, 47.0, 36.0, 20.0, 32.0, 25.0, '-1', 43.0, '-1', 40.0, 31.0, 70.0, 31.0, '-1', 18.0, 24.5, 18.0, 43.0, 36.0, '-1', 27.0, 20.0, 14.0, 60.0, 25.0, 14.0, 19.0, 18.0, 15.0, 31.0, 4.0, '-1', 25.0, 60.0, 52.0, 44.0, '-1', 49.0, 42.0, 18.0, 35.0, 18.0, 25.0, 26.0, 39.0, 45.0, 42.0, 22.0, '-1', 24.0, '-1', 48.0, 29.0, 52.0, 19.0, 38.0, 27.0, '-1', 33.0, 6.0, 17.0, 34.0, 50.0, 27.0, 20.0, 30.0, '-1', 25.0, 25.0, 29.0, 11.0, '-1', 23.0, 23.0, 28.5, 48.0, 35.0, '-1', '-1', '-1', 36.0, 21.0, 24.0, 31.0, 70.0, 16.0, 30.0, 19.0, 31.0, 4.0, 6.0, 33.0, 23.0, 48.0, 0.67, 28.0, 18.0, 34.0, 33.0, '-1', 41.0, 20.0, 36.0, 16.0, 51.0, '-1', 30.5, '-1', 32.0, 24.0, 48.0, 57.0, '-1', 54.0, 18.0, '-1', 5.0, '-1', 43.0, 13.0, 17.0, 29.0, '-1', 25.0, 25.0, 18.0, 8.0, 1.0, 46.0, '-1', 16.0, '-1', '-1', 25.0, 39.0, 49.0, 31.0, 30.0, 30.0, 34.0, 31.0, 11.0, 0.42, 27.0, 31.0, 39.0, 18.0, 39.0, 33.0, 26.0, 39.0, 35.0, 6.0, 30.5, '-1', 23.0, 31.0, 43.0, 10.0, 52.0, 27.0, 38.0, 27.0, 2.0, '-1', '-1', 1.0, '-1', 62.0, 15.0, 0.83, '-1', 23.0, 18.0, 39.0, 21.0, '-1', 32.0, '-1', 20.0, 16.0, 30.0, 34.5, 17.0, 42.0, '-1', 35.0, 28.0, '-1', 4.0, 74.0, 9.0, 16.0, 44.0, 18.0, 45.0, 51.0, 24.0, '-1', 41.0, 21.0, 48.0, '-1', 24.0, 42.0, 27.0, 31.0, '-1', 4.0, 26.0, 47.0, 33.0, 47.0, 28.0, 15.0, 20.0, 19.0, '-1', 56.0, 25.0, 33.0, 22.0, 28.0, 25.0, 39.0, 27.0, 19.0, '-1', 26.0, 32.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_constant.iloc[:,:]=cos_imputer.fit_transform(train_constant)
<ipython-input-12-0b8746535a9b>:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_constant.iloc[:,:]=cos_imputer.fit_transform(train_constant)
<ipython-input-12-0b8746535a9b>:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1', '-1']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_constant.iloc[:,:]=cos_imputer.fit_transform(train_constant)

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age             0
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin           0
Embarked        0
sepal_length    0
sepal_width     0
dtype: int64

In [13]:
train_constant.iloc[age_missing_index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sepal_length,sepal_width
5,6,0,3,"Moran, Mr. James",male,-1,0,0,330877,8.4583,-1,Q,-1,-1
17,18,1,2,"Williams, Mr. Charles Eugene",male,-1,0,0,244373,13.0000,-1,S,-1,-1
19,20,1,3,"Masselmani, Mrs. Fatima",female,-1,0,0,2649,7.2250,-1,C,-1,-1
26,27,0,3,"Emir, Mr. Farred Chehab",male,-1,0,0,2631,7.2250,-1,C,-1,-1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,-1,0,0,330959,7.8792,-1,Q,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,-1,0,0,2629,7.2292,-1,C,-1,-1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,-1,8,2,CA. 2343,69.5500,-1,S,-1,-1
868,869,0,3,"van Melkebeke, Mr. Philemon",male,-1,0,0,345777,9.5000,-1,S,-1,-1
878,879,0,3,"Laleff, Mr. Kristo",male,-1,0,0,349217,7.8958,-1,S,-1,-1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,-1,1,2,W./C. 6607,23.4500,-1,S,-1,-1

In [14]:
train= df.copy()
imputer= SimpleImputer(strategy='mean')
train["Age"]=imputer.fit_transform(train[["Age"]])
train.iloc[age_missing_index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sepal_length,sepal_width
5,6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,NaN,Q,NaN,NaN
17,18,1,2,"Williams, Mr. Charles Eugene",male,29.699118,0,0,244373,13.0000,NaN,S,NaN,NaN
19,20,1,3,"Masselmani, Mrs. Fatima",female,29.699118,0,0,2649,7.2250,NaN,C,NaN,NaN
26,27,0,3,"Emir, Mr. Farred Chehab",male,29.699118,0,0,2631,7.2250,NaN,C,NaN,NaN
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.699118,0,0,330959,7.8792,NaN,Q,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,29.699118,0,0,2629,7.2292,NaN,C,NaN,NaN
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.699118,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN
868,869,0,3,"van Melkebeke, Mr. Philemon",male,29.699118,0,0,345777,9.5000,NaN,S,NaN,NaN
878,879,0,3,"Laleff, Mr. Kristo",male,29.699118,0,0,349217,7.8958,NaN,S,NaN,NaN
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,NaN,NaN

In [15]:
df['Age']=df.groupby('Sex')['Age'].transform(lambda x: x.fillna(x.mean()))
df.isnull().sum()

PassengerId       0
Survived          0
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin           687
Embarked          2
sepal_length    891
sepal_width     891
dtype: int64

In [17]:
df['Cabin']=df.groupby('Sex')['Cabin'].transform(lambda x: x.fillna(x.mean()))
df.isnull().sum()

TypeError: can only concatenate str (not "int") to str

In [ ]:
#######

In [18]:
### Second working Start From Here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as stat

df=pd.read_csv("/content/drive/MyDrive/Dataset Data Mining /Dataset/iris.csv")

In [19]:
x=df.drop("species",axis=1)
x

y=df['species']
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [20]:
####Machine Learning
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
y_test

73     versicolor
18         setosa
118     virginica
78     versicolor
76     versicolor
31         setosa
64     versicolor
141     virginica
68     versicolor
82     versicolor
110     virginica
12         setosa
36         setosa
9          setosa
19         setosa
56     versicolor
104     virginica
69     versicolor
55     versicolor
132     virginica
29         setosa
127     virginica
26         setosa
128     virginica
131     virginica
145     virginica
108     virginica
143     virginica
45         setosa
30         setosa
Name: species, dtype: object

In [21]:
from sklearn.linear_model import LogisticRegression
Irg = LogisticRegression()
Irg.fit(x_train,y_train)

Irg.score(x_test,y_test)*100

100.0

In [22]:
Irg.score(x_test,y_test)*100

100.0

[Exercise:](https://apple.com)

Fill missing values on cabin & age using groupby with mean values.

Normalize data on passenger id using -1 to 1 range.

Apply DT & random forest.

In [23]:

df.loc[[1, 5, 10], 'sepal_length'] = np.nan
df.loc[[3, 8, 12], 'sepal_width'] = np.nan


df['sepal_length'] = df.groupby('species')['sepal_length'].transform(lambda x: x.fillna(x.mean()))
df['sepal_width'] = df.groupby('species')['sepal_width'].transform(lambda x: x.fillna(x.mean()))


print(df.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64